body {
    text-align: center;
}

.hidden {
  display: none;
}

.modal-background {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-popup {
  z-index: 1000;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 4em;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);

}
